body {
  font-family: Archivo, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#app {
  background: white;
  margin: 5rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  font-size: 5vh;
  margin-bottom: 5rem;
  text-align: center;
  color: black;
}

h2 {
  font-size: 3vh;
  color: black;
  }
h2::after {
  content: "";
  display: block;
  border-bottom: 3px solid #ddd;
  width: 20%; /* Cambia el largo de la línea */
  margin: 1rem auto 0 auto;
}

p {
  font-size: 1vh;
}

label {
  display: block;
  font-size: 2vh;
  margin: .8rem 0;
  cursor: pointer;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  margin: 2rem auto 0 auto;
  cursor: pointer;
  transition: background 0.5s ease;
  font-size: 1rem;
  text-align: center;
  width: fit-content;
}

button:hover {
  background: red;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

label {
  margin-left: 2vh;
  margin-right: 1rem;
  cursor: pointer;
}

#result h2 {
  margin-top: 0;
  color: black;
}

ul {
  padding-left: 1.2rem;
}

li {
  margin: 0.4rem 0;
}

.resultado {
  border-bottom: 1px solid #ddd; /* línea entre resultados */
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.resultado:last-child {
  border-bottom: none; /* elimina la línea final */
}
.resultado h3 {
  margin: 0;
  color: black;
}

